@import "../../styles/variables.scss";

.postGrid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.postListDescription {
    height: 70px;
    color: $color-text;
}

.postViewOptions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.textColor {
    color: $color-text;
}

.paginationDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}