@import "../../styles/variables.scss";

.resultCopyResult {
    margin-top: 73px;
    margin-bottom: 15px;
}

.resultCopyResultCard {
    padding: 29px;
}

.resultCopyResultCardColumn {
    width: 33%;
}

.resultCopyResultCopy {
    width: 50%;
    margin-top: 30px;
    border-radius: 10px !important;
    background-color: $panel-white !important;
    color: $button-blue !important;
    border: none !important;
}

.resultCopyResultPlaceHolderTitle {
    background-color: $main-light-gray !important;
    border-radius: 33px;
}

.resultCopyResultPlaceHolderText {
    background-color: $placeholder-text !important;
    border-radius: 33px;
}

.resultCopyLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    height: 200px;
}