@import '../../styles/variables.scss';

.editableTable {
    background: $main-white;
    tbody {
        tr{
            td{
                padding: unset;
                input {
                    border: unset;
                    width: 100%;
                    padding: 8px;
                }
            }
        }
    }
}