@import "../../styles/variables.scss";

.postItem {
    padding: 11px 15px 20px 15px;
    border-radius: 15px !important;
    font-size: 14px;
}

.postImage {
    height: 132px;
    background: $main-background;
    margin-bottom: 20px;
}

.postTitle {
    height: 50px;
    overflow-y: hidden;
}

.postEdit {
    width: 100%;
    border-radius: $border-radius !important;
    background-color: $main-white !important;
    color: $main-black !important;
    border: 1px solid $button-light-border !important;
    box-shadow: $button-shadow;
}

.postGenerate {
    width: 100%;
    border-radius: $border-radius !important;
    color: $main-white !important;
    border: none !important;
    background-color: $button-light-blue !important;
    box-shadow: $button-shadow;
}

.postDescription {
    opacity: 0.5;
    margin-bottom: 20px;
    height: 60px;
    overflow-y: hidden;
}

.postPublishInfo {
    opacity: 0.5;
    margin-bottom: 20px;
}

.postTags {
    display: flex;
    gap: 32px;
    margin-bottom: 20px;
}