$main-black: #000000;
$main-gray: rgba(black, 0.5);
$main-light-blue: #E0EEF5;
$main-white: #ffffff;
$main-error: #ff4444;
$main-background: #ECEEEF;
$main-light-gray: #EAEAEA;

$button-blue: #128BC8;
$button-light-blue: #0098DA;
$button-light-border: #DCDEE0;
$border-radius: 10px;
$button-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

$panel-white: #E0EEF5;

$placeholder-text: #F4F4F4;

$color-text: $main-gray;

$html-font-size: 16;